body,
html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB",
    "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
  min-width: 1024px;
  background: RGBA(247, 247, 247, 1);
  color: #333;
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "iconfont"; /* project id 1170870 */
  src: url("//at.alicdn.com/t/font_1170870_7vgej6mq64.eot");
  src: url("//at.alicdn.com/t/font_1170870_7vgej6mq64.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_1170870_7vgej6mq64.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1170870_7vgej6mq64.woff") format("woff"),
    url("//at.alicdn.com/t/font_1170870_7vgej6mq64.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1170870_7vgej6mq64.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}

.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.label {
  font-size: 1.25rem;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}
.pointer {
  cursor: pointer;
}
hr {
  margin: 20px 0px;
  border: 0px;
  border-bottom: 1px solid #ccc;
}
