* {
  margin: 0;
  padding: 0;
}
.main {
  width: 80%;
  height: 570px;
  margin: 68px auto;
  padding: 41px;
  background-color: #b0d3fe;
}
.tips {
  width: 98%;
  height: 109px;
  margin: 0 auto;
  line-height: 109px;
  text-align: center;
  border-radius: 20px;
  background-color: #fff;
  color: #4F95EC;
  font-size: 24px;
}
.recomment {
  width: 80%;
  height: 409px;
  margin: 0 auto;
  position: relative;
}
.recomment .recomment-tips {
  text-align: center;
  padding-top: 30px;
  color: #4F95EC;
  font-weight: bold;
}
.recomment .recomment-img {
  width: 426px;
  height: 200px;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -213px;
}
.recomment-img .recomment-img-item {
  margin: 0 auto;
  text-align: center;
  width: 102px;
  height: 100px;
  padding: 20px;
  float: left;
  color:#fff;
}